body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAFA;
  color: rgba(0,0,0,0.8);
  padding-bottom: 84px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Signika', sans-serif;
}


header {
  position:absolute;
  overflow:scroll;
  top:0;
  background-color: #FF5A3B;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 20px solid #E55136;
  color: white;
}

header .description {
  max-width: 450px;
  color: rgba(255, 255, 255, 0.6);
}
header .black, .black {
  color: rgba(0,0,0,0.8);
}

.saved-places {
  position: absolute;
  right: 0;
  top: 680px;
  color: rgba(0,0,0,0.6);
}

.saved-places-fixed {
  position:fixed;
  right: 0;
  top: 400px;
}
.saved-map {
  position:absolute;
  right: 0;
  top: 280px;
}

.saved-map-fixed {
  position:fixed;
  right: 0;
  top: 0px;
}

.no-saved-places {
  font-size: .9em;
  color: rgba(0,0,0,0.4);
}

.no-saved-places p {
  max-width: 220px;
}

header .ninja {
  max-height: 150px;
  opacity: .8;
}

a {
  padding: 8px 12px;
  text-decoration: none;
}

a.place-entry-link, a.saved-place-entry-link {
  padding: 8px 0px;
  color: #FF5A3B;
}

a.place-entry-link {
  position:relative;
  font-size: .8em;
}

a.saved-place-entry-link {
  font-size: 1em;
}

a.place-entry-link:hover, a.saved-place-entry-link:hover {
  color: #E55136;
}

a.sort-by-text {
  padding: 8px 0px;
  color: #FF5A3B;
  font-size: .8em;
  margin-right: 10px;  
  font-weight: 700;
}

a.sort-by-link {
  padding: 8px 0px;
  color: #FF5A3B;
  font-size: .8em;
}

a.sort-by-link:hover {
  color: #E55136;
}

.sortPlacesBy {
  position: absolute;
  top: 300px;
}

nav {
  width: 100%;
}

nav ul {
  text-align: right;
  list-style: none;
}

nav ul li {
  display: inline;
}

.link {
  position:right;
  color: rgba(255, 255, 255, 0.6);
  padding-right: 0px;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.place-entry-link-divider {
  padding: 0px 4px;
}

button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  box-shadow: none;
  border-radius: 2px;
  padding: 8px 12px;
  margin-right: 8px;
  font-size: 1em;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #E55136;
}

button:focus {
  outline: none;
}

.place-entry {
  border: 1px solid rgba(0,0,0,0.06);
  padding: 4px 12px 24px 24px;
  margin: 20px 0px;
  max-width: 600px;
  position: relative;
  background-color: white;
  border-radius: 2px;
}

.place-entry-image {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
  float:left;
  width:100px;
  height:100px;
  padding-top: 10px;
  padding-right: 10px;
}

.place-entry-image:hover {
  width:500px;
  height:281px;
}

.saved-place-image {
  width: 60px;
  height:60px;
  float:left;
  padding-right:5px;
}

.place-entry:hover {
  border: 1px solid rgba(0,0,0,0.12);
}

.saved-place-entry {
  margin: 0px;
  font-size: .8em;
  border-top: 1px solid #ededed;
  padding: 12px 8px;
}

.saved-place-entry p {
  margin: 0px;
}

.saved-place-name {
  font-weight: 900;
}

.saved-place-entry p.saved-place-address {
  margin-bottom: 4px;
}

.place-info {
  width: 75%;
}

.place-info h4 {
  margin-bottom: 0px;
}

.place-info p {
  margin-top: 8px;
}

.place-entry-favorite {
  width: 25%;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
}

svg#heart {
  align-self:center;
  height: 50px;
  width: 50px;
}

#heart-path {
  fill: #ffe6e6;
  stroke: black;
  stroke-width: 2px;
  stroke-dasharray: 125;
  stroke-dashoffset: -125;
  stroke-linecap: butt;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

#heart-path:hover {
  fill: #ff3333;
  stroke-dashoffset: 0;
  stroke-dasharray: 125;
}

#heart-clicked {
  fill: #ff3333;
}

#spinner {
  margin-top: 24px;
  text-align: center;
  color: rgba(0,0,0,0.4);
  font-size: 1em;
}

#spin-gif {
  margin-left: 44%;
  margin-top: 20px;
  opacity: .7;

}

@media handheld, only screen and (max-width: 767px) {
  #spinner {
    text-align: center;
    color: rgba(0,0,0,0.4);
    font-size: 1em;
  }

  #spin-gif {
    margin-top: 20px;
    margin-left: 44%;
    opacity: .5;
  }
}

#loading-container {
  position: absolute;
  top: 310px;
}

/*#loading-container-fixed {
  position: absolute;
  top:280px;
}*/

