body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAFA;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Signika', sans-serif;
}

header {
  background-color: #FF5A3B;
  padding: 40px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 20px solid #E55136;
  color: white;
}

header .black {
  color: black;
}

header .ninja {
  max-height: 150px;
}

a {
  padding: 8px 12px;
}

header .logout {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

header .logout:hover {
  color: rgba(255, 255, 255, 0.8);
}

button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  box-shadow: none;
  border-radius: 2px;
  padding: 8px 12px;
  margin-right: 8px;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #E55136;
}

button:focus {
  outline: none;
}

.place-entry {
  border: 1px solid rgba(0,0,0,0.06);
  padding: 4px 12px 4px 20px;
  margin: 20px 0px;
  max-width: 600px;
  position: relative;
  background-color: white;
  border-radius: 2px;
}

.place-entry:hover {
  border: 1px solid rgba(0,0,0,0.12);
}

.saved-place-entry {
  margin: 0px;
  font-size: .8em;
  border-top: 1px solid rgba(0,0,0,0.12);
  padding: 12px 8px;
}

.saved-place-entry p {
  margin: 0px;
}

.saved-place-name {
  font-weight: 900;
}

.place-info {
  width: 75%;
}

.place-info h4 {
  margin-bottom: 0px;
}

.place-info p {
  margin-top: 8px;
}

.place-entry-favorite {
  width: 25%;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
}

.icon-heart {
  align-self: center;
  color: black;
  font-size: 1.8em;
  color: rgba(0,0,0,0.45);
}

.icon-heart:hover {
  color: #FF5A3B;
}
