body {
  background-color: #FF5A3B;
  color: white;
  font-size: 1.2em;
}

#container {
  padding-top: 40px;
  width: 100%;
}

div {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  text-align: center;
}

p#tagline {
  color: rgba(255,255,255,.6);
  margin: 12px 0px 0px 0px;
}

#google-signin {
  background-image: url('./../assets/btn_google_signin_light_normal_web@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 191px;
  padding-top: 46px;
  margin-top: 12px;
  margin-bottom: 12px;
}

#google-signin:hover {
  background-image: url('./../assets/btn_google_signin_light_pressed_web@2x.png');
  cursor: pointer;
}

.ninja {
  opacity: .8;
  max-height: 100px;
}

.tiny-link {
  font-size: .7em;
  padding: 0px 12px 0px 0px;
}

h1, p {
  margin: 0px 0px;
}

#footer {
  font-size: .6em;
  color: rgba(255, 255, 255, 0.6);
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
